@forward './reset.scss';
@import url('https://fonts.googleapis.com/css?family=Open Sans');

:root {
    --primary-background: #F6F7F9;
    --secondary-background: #FFFFFF;
    --section-border: #ECEFF2;
    --container: #ECEEEF;
    --border: #DBE1E5;
    --header: #43525C;
    --text: #3E5462;
    --button-primary: #1976D2;
    --button-text-primary: #FFFFFF;
    --button-primary-hover: #004FAA;
    --button-primary-active: #003B71;
    --button-neutral: #3E5462;
    --button-neutral-hover: #DBE1E5;
    --button-shadow: #D9EBFF;
    --button-disabled: #BAC5CD;
    --checkbox-disabled: #F6F7F9;
    --checkbox-border-disabled: #DBE1E5;
    --row-checked: #ECF5FF;
    --pagination-button: #3E5462;
    --pagination--button-disabled: #BAC5CD;
    --file-icon: #5FBCC3;
    --directory-icon: #55A4FF;
}

#app {
    background: var(--secondary-background);
}