@forward './reset.scss';
@import url('https://fonts.googleapis.com/css?family=Open Sans');

:root {
    --primary-background-color: #F6F7F9;
    --secondary-background-color: #FFFFFF;
    --section-border: #ECEFF2;
    --button-color: #1976D2;
    --text-color: #3E5462;
    --button-hover-color: #004FAA;
    --search-active-color: #003B71;
    --button-shadow-color: #D9EBFF;
    --border-color: #DBE1E5;
    --header-color: #43525C;
    --row-checked-color: #ECF5FF;
    --container-color: #ECEEEF;
    --primary-button-color: #3E5462;
    --secondary-button-color: #BAC5CD;
    --file-icon-color: #5FBCC3;
    --directory-icon-color: #55A4FF;
    --modal-background: #FFFFFF;
    --model-border-color: #ECEEEF;
    --multi-button-hover-color: #DBE1E5;
    --modal-shadow-color: #00000026;
    --modal-text-color: #43525C;
    --input-hover-color: #1976D2;
    --file-title-color: #1976D2;
}